<body>
	<app-navbar-frontend></app-navbar-frontend>
</body>

<br>
<div class="container text-center" style="margin-top: 70px;">
    <h1>Impressum / Copyright</h1>
Informationen und Offenlegung gemäß § 5 E-Commerce-Gesetz und § 25 Mediengesetz

<br>
<h1>IMMOSOLUTION</h1>
Immobilien & Facility Management GmbH<br>
Lemböckgasse 47<br>
AT-1230 Wien<br>
Österreich<br>
Telefon: (+43) 1 662 7330 – 0<br>
E-Mail: office@immosolution.at <br>
Homepage: http://www.immosolution.at <br>
Firmenbuchnummer: 223555h
Firmenbuchgericht: Handelsgericht Wien<br>
Zuständige Kammer: Wirtschaftskammer Wien, 1020 Wien, Straße der Wiener Wirtschaft 1<br>
Immosolution Immobilien & Facility Management GmbH betreibt das Gewerbe Kälte- und Klimatechnik, Heizungstechnik verbunden mit Lüftungstechnik (verbundenes Handwerk) und Gas- und Sanitärtechnik und unterliegt den gewerberechtlichen Vorschriften der Gewerbeordnung (abrufbar unter  www.ris.bka.gv.at)<br>
Umsatzsteueridentifikationsnummer: ATU64231307<br>
vertretungsbefugte Organe (Geschäftsführer): <br>
kaufmännischer GS Ing. Wilhelm Fleck, <br>
gewerberechtlicher GS Ing. Alexandru Cucuteanu,<br>
</div>



<div class="footer mt-4">
	<app-footer-index></app-footer-index>
</div>