<div class="footerBGC">
  <div class="row">
    <div class="col-xl-3 schrift-footer text-center">
      <br><h2 class="schrift-footer">Adresse:</h2><br>
      <p class="schrift-footer">Lemböckgasse 47</p>
      <p class="schrift-footer">1230 Wien</p>
      <p class="schrift-footer">Österreich</p>
    </div>
    <div class="col-xl-3 schrift-footer text-center">
      <br><h2 class="schrift-footer">Kontakt:</h2><br>
      <p class="schrift-footer">Tel: +43 01 66273300</p>
      <p class="schrift-footer">eMail: office@immosolution.at</p>
    </div>
    <div class="col-xl-3 schrift-footer text-center">
      <br><h2 class="schrift-footer">Anmelden:</h2>
      <!-- <button type="button" class="btn btn-dark" id="größe" [routerLink]="'/login'">Anmelden</button><br><br> -->
      <br><button type="button" class="btn btn-dark" [routerLink]="'/login'">Anmelden</button>
    </div>
    <div class="col-xl-3 schrift-footer text-center">
      <br><h2 class="schrift-footer">Social Media:</h2>
      <br><a href="https://www.instagram.com/immosolution.at/"><i class="lab la-instagram glyphicons-class"></i></a>&nbsp;
      <a href="https://www.facebook.com/Immosolution-Immobilien-Facility-Management-GmbH-100697512430535"><i class="lab la-facebook glyphicons-class"></i></a>
    </div>
  </div>
</div>