<app-navbar (toggleMainEvent)="toggleMain($event)"></app-navbar>
<div [ngClass]="{
    'main-content-toggled': mainStyle === 0,
    'main-content': mainStyle === 280
}">

<div class="container" *ngIf="infos">
    <div class="row">

        <div class="col-3">
            <a href="https://instagram.com/{{infos.username}}" target="_blank">
                <img [src]="infos.profile_picture_url" class="img-fluid rounded-circle" width="150px">
            </a>
        </div>

        <div class="col-9">

            <div class="d-inline">
                <p class="username">{{infos.username}}</p>
            </div>

            <div class="d-inline">
                <small class="bioNums">{{infos.media_count}} </small> posts &nbsp;&nbsp;
            </div>

            <div class="d-inline">
                <small class="bioNums">{{infos.followers_count}} </small> followers &nbsp;&nbsp;
            </div>

            <div class="d-inline">
                <small class="bioNums">{{infos.follows_count}} </small> following
            </div>

            <p class="bio mt-2">{{infos.biography}}</p>
            
        </div>

    </div>
    
</div>

<div class="row p-4" *ngIf="media">
    <div class="col-md-4 col-sm-12 mb-3" *ngFor="let singlePictureInfo of media['data']">
      <div class="card">
        <div class="card-body">
            <img [src]="singlePictureInfo.media_url" class="img-fluid">
            <div class="card-text d-flex justify-content-between mt-3">
                <p><i class="las la-comment"></i> {{singlePictureInfo.caption}}</p>
            </div>
          </div>
      </div>
    </div>
</div>