<div class="cards">
    <div class="card-single" [routerLink]="'/facebook'">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>Facebook</span>
                    <small>Facebook-Account verwalten</small>
                </div>
            </div>
            <div class="card-chart danger">
                <span class="las la-tools"></span>
            </div>
        </div>
    </div>
    <div class="card-single" [routerLink]="'/instagram'">
        <div class="card-flex">
            <div class="card-info">
                <div class="card-head">
                    <span>Instagram</span>
                    <small>Instagram-Account verwalten</small>
                </div>
            </div>
            <div class="card-chart success">
                <span class="las la-tools"></span>
            </div>
        </div>
    </div>
</div>