<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontaktformular</title>
</head>
<div>

<!-- --------------------------------------- Navbar --------------------------------------- -->

    <app-navbar-frontend></app-navbar-frontend>

<!-- --------------------------------------- Navbar End --------------------------------------- -->

<!-- --------------------------------------- Contact Form --------------------------------------- -->

<!-- <br><br><br>
  <div class="main" id="kontakt">
    <div class="container">
      <div class="row header">
        <img height="auto" width="auto" src="./assets/images/contact-form-pic.jpg">
        <h1 class="text-center" style="color: black; z-index: 999;">Kontaktiere uns! &nbsp;</h1>
      </div>
      <div class="row body">
        <form action="#" method="POST">
          <ul>
            
            <li>
              <p class="left text-center">
                <label for="first_name">Vorname</label>
                <input class="text-center" type="text" name="first_name" placeholder="Max" />
                
              </p><br><br><br><br>
              <p class="pull-right text-center">
                <label for="last_name">Nachname</label>
                <input class="text-center" type="text" name="last_name" placeholder="Mustermann" />      
              </p>
            </li>
            
            <li>
              <p class="text-center">
                
                <label for="email">eMail<span class="req">*</span></label>
                <input type="email" name="email" placeholder="max.mustermann@gmail.com" />
              </p>
            </li>
            <li><div class="divider"></div></li>
            <li>
              <label for="comments">Nachricht</label>
              <textarea cols="46" rows="3" name="comments"></textarea>
            </li>
            
            <li>
              
              <input style="color: white;" class="btn btn-submit" type="submit" value="Abschicken" />
              <small>oder <strong>Eingabe</strong><small>drücken</small></small>
            </li>

            <li>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.92170000292!2d16.305910415834436!3d48.13103335959529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d078818eeae0f%3A0x4ae9a45197aac2d0!2sImmosolution%20Immobilien%20%26%20Facility%20Management%20GmbH!5e0!3m2!1sde!2sat!4v1640520858354!5m2!1sde!2sat" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </li>
            
          </ul>
        </form>  
      </div>
    </div>
  </div>
  <br><br><br> -->
  

  <br><br><br>
  <div class="main" id="kontakt">
    <div class="container">
      <div class="row header">
        <img height="auto" width="auto" src="./assets/images/contact-form-pic.jpg">
        <h1 class="text-center" style="color: black; z-index: 999;">Kontaktiere uns! &nbsp;</h1>
      </div>
      <p class="text-center"><button type="button" class="btn btn-secondary"><a href="mailto:ryzenyt1309@gmail.com" style="color: black;">Email schreiben</a></button></p>
      <ul>
        <li>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.92170000292!2d16.305910415834436!3d48.13103335959529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d078818eeae0f%3A0x4ae9a45197aac2d0!2sImmosolution%20Immobilien%20%26%20Facility%20Management%20GmbH!5e0!3m2!1sde!2sat!4v1640520858354!5m2!1sde!2sat" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </li>
      </ul>
      </div>
    </div>
  <br><br><br>

  <!-- --------------------------------------- Contact Form End --------------------------------------- -->
  <!-- --------------------------------------- Footer Start --------------------------------------- -->

  <app-footer-index></app-footer-index>

  <!-- --------------------------------------- Footer End --------------------------------------- -->