<div class="jobs">
    <h2> Webseite Inhalte ändern
    </h2>
    <div class="table-responsive">
        <table width="100%">
            <tbody>
                <tr>
                    <td>
                        <div>
                            <span class="indicator"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            Ankündigung
                        </div>
                    </td>
                    <td>
                        <div>
                            Ankündigung verwalten
                        </div>
                    </td>
                    <td>
                        <div>
                            
                        </div>
                    </td>
                    <td>
                        <div>
                            
                        </div>
                    </td>
                    <td>
                        <div>
                            <button data-bs-toggle="modal" data-bs-target="#ankuendigung">
                                ändern
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="indicator even"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            Über uns
                        </div>
                    </td>
                    <td>
                        <div>
                            der Bereich "Über uns" ändern 
                        </div>
                    </td>
                    <td>
                        <div>
                            
                        </div>
                    </td>
                    <td>
                        <div>
                            
                        </div>
                    </td>
                    <td>
                        <div>
                            <button data-bs-toggle="modal" data-bs-target="#ueberUns" (click)="ueberUns()">ändern</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="indicator"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            Team
                        </div>
                    </td>
                    <td>
                        <div>
                            der Bereich "Team" ändern
                        </div>
                    </td>
                    <td>
                        <div>
                            
                        </div>
                    </td>
                    <td>
                        <div>
                            
                        </div>
                    </td>
                    <td>
                        <div>
                            <button data-bs-toggle="modal" data-bs-target="#team" (click)="team()">ändern</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="indicator even"></span>
                        </div>
                    </td>
                    <td>
                        <div>
                            Projekte
                        </div>
                    </td>
                    <td>
                        <div>
                            alle Projekte verwalten
                        </div>
                    </td>
                    <td>
                        <div>
                            
                        </div>
                    </td>
                    <td>
                        <div>
                            
                        </div>
                    </td>
                    <td>
                        <div>
                            <button data-bs-toggle="modal" data-bs-target="#projekte" (click)="projekte()">
                                ändern
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<app-ueber-uns-modal
    [privatkundenText]=privatkundenText
    [ueberUnsText]=ueberUnsText
    [gruendungText]=gruendungText
    [ueberUnsImage]=ueberUnsImage
></app-ueber-uns-modal>

<app-ankuendigung-modal></app-ankuendigung-modal>

<app-team-model
    [teamText]=teamText
    [teamImage]=teamImage>
</app-team-model>

<app-projekte-model
    [projekteText]=projekteText
    [projekteBild]=projekteBild>
</app-projekte-model>