<script>

  // -------------------------- Navbar Burger Menue JS --------------------------

  $(window).scroll(function () {
	var sc = $(window).scrollTop()
	if (sc > 150) {
		$("#main-navbar").addClass("navbar-scroll")
	} 
	else {
		$("#main-navbar").removeClass("navbar-scroll")
	}
});

// -------------------------- Sticky Navbar JS --------------------------

</script>
<div class="background-wallpaper">
  <p id="home font-fam"></p>
  <head>
    <link rel="icon" href="assets/images/Logo-Signet-Transparent-BG.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                
  </head>
  
    <!-- --------------------------------------- Header --------------------------------------- -->


    <app-navbar-frontend></app-navbar-frontend>

  <!-- --------------------------------------- BG Video / BG Pic --------------------------------------- -->
    
  <div class="col-xl-12 bg-color-bg-pic">
    <img class="transperancy" src="./assets/images/bg-picture-4.5.jpg">
    <h3 class="centered" id="font-fam">Sehr geehrte Damen und Herren,<br> Unser Betrieb ist über die Weihnachtsfeiertage vom 24.12.2021 bis inkl. 09.01.2022 geschlossen.  Wir wünschen frohe Weihnachten und einen guten Rutsch ins neue Jahr!  Vielen Dank für Ihre Treue und bleiben Sie gesund!</h3><br>
    </div>

  <!-- --------------------------------------- BG Video / BG Pic End --------------------------------------- -->
  
  <!-- --------------------------------------- Main --------------------------------------- -->

    <div class="stats">
        <div class="row">
          <div class="col-xl-4 text-center" id="style">
            <br><h2 class="style" id="font-fam">Öffnungszeiten</h2><br>
            <span class="glyphicon glyphicon-time"></span><br><br>
            <p class="farbe-icon-text" id="font-fam">Mo-Do 8:00-16:00 Uhr</p>
            <p class="farbe-icon-text" id="font-fam">Fr 8:00-12:00 Uhr</p><br>
          </div>
          <div class="col-xl-4 text-center" id="style">
            <br><h2 class="style" id="font-fam">Standort</h2><br>
            <span class="glyphicon glyphicon-map-marker"></span><br><br>
            <p class="farbe-icon-text" id="font-fam">Lemböckgasse 47, 1230 Wien Österreich</p><br>
          </div>
          <div class="col-xl-4 text-center" id="style">
            <br><h2 class="style" id="font-fam">Kontakt</h2><br>
            <span class="glyphicon glyphicon-user"></span><br><br>
            <p class="farbe-icon-text" id="font-fam">Tel: +43 01 66273300</p><br>
          </div>
        </div>
    </div>

    <div class="black-placeholder"  id="about">
      <img src="./assets/images/parallax-5.jpg" class="transperancy">
      <!-- <p style="visibility: hidden; font-size: 1.5rem;">p</p><br> -->
      <div class="centered"><p class="color-h1 text-center">Über uns</p></div>
    </div>
    <br>

    <div id="content"></div>

    <div class="main">
    <div class="gray-bg">
      <div class="feld1 row">
        <div class="col-md-12">	
          <!-- <h1 style="color: #000"></h1> -->
          <br><br><p class="about" id="p1">{{ infos.angebot }}</p>
          <br>
          <h3 style="color: #000">Gründung</h3>
          <p class="about" id="p1">{{ infos.gruedung }}</p><br><br>
        </div>
        <!-- <div class="col-xl-3 text-align-right">
          <img width="250px" height="auto" src="./assets/images/pic-4.jpg">
        </div> -->
      </div>
    </div>
  </div> 
  <br>


    <div class="black-placeholder" id="team">
      <img src="./assets/images/parallax-2.jpg" class="transperancy">
      <!-- <p style="visibility: hidden; font-size: 1.5rem;">p</p><br> -->
      <div class="centered"><p class="color-h1 text-center">Team</p></div>
    </div>
    <br>
      
      <div class="main">
        <div class="grey-bg">
          <div class="feld3 row" >
            <div class="col-md-9">
              <!-- <h1 style="color: #000"></h1> -->
              <br><br><p class="project" id="p1">{{ infos.mitarbeiter }}</p><br><br>
            </div>
            <div class="col-md-3">
              <!-- <img width="250px" height="auto" src="./assets/images/pic-34.jpg"> -->
            </div>
          </div>
        </div>
      </div>
        <br>

      <!-- <div class="col-xl-12">
        <p class="text-center"><img src="./assets/images/group-pic.jpg"></p><br><br>
      </div> -->


      <div class="black-placeholder" id="project">
        <img src="./assets/images/parallax-6.jpg" class="transperancy">
        <!-- <p style="visibility: hidden; font-size: 1.5rem;">p</p><br> -->
        <div class="centered"><p class="color-h1 text-center">Projekte</p></div>
      </div>
      <br>

    <div class="main">
      <div class="grey-bg">
        <div class="feld3 row" >
          <div class="col-md-9">
            <!-- <h1 style="color: #000"></h1> -->
            <br><br><p class="project" id="p1">{{ infos.referenzprojekte }}</p><br><br><br><br>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h2 class="center-align" style="color:black; ">Laufende Projekte</h2><br>
              <p class="text-center"><a [routerLink]="'/laufendeprojekte'"><button type="button" class="btn btn-dark">Laufende Projekte</button></a></p><br><br>
            </div>
            <div class="col-md-6">
              <h2 class="text-center" style="color:black;">Abgeschlossene Projekte</h2><br>
              <p class="text-center"><a [routerLink]="'/fertigeprojekte'"><button type="button" class="btn btn-dark">Abgeschlossene Projekte</button></a></p><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
    <br>


      <div class="black-placeholder" id="partner">
        <img src="./assets/images/parallax-4.jpg" class="transperancy">
        <!-- <p style="visibility: hidden; font-size: 1.5rem;">p</p><br> -->
        <div class="centered"><p class="color-h1 text-center">Partner</p></div>
      </div>
      <br>

    <div class="main">
      <div class="feld3 row" >
        <div class="col-md-3">
          <!-- <img width="250px" height="auto" src="./assets/images/pic-35.jpg"> -->
        </div>
        <div class="col-md-12">
          <!-- <h1 style="color: #000"></h1> -->
          <br><br><p class="partner" id="p1">{{ infos.privatkunden }}</p><br><br>
        </div>
      </div>
    </div>
    <!-- <br>

    <div class="black-placeholder">
      <img src="./assets/images/parallax-5.jpg" class="transperancy">
      <p style="visibility: hidden; font-size: 1.5rem;">p</p><br>
      <div class="centered"><p class="color-h1 text-center">Kontaktformular</p></div>
    </div>
    <br> -->

  
  <!-- --------------------------------------- Main End --------------------------------------- -->
  <!-- --------------------------------------- Footer --------------------------------------- -->

  <a href="#home"><button type="button" class="btn btn-secondary" id="rauf-button">&uarr;</button></a>

  <div class="footerBGC">
    <div class="row">
      <div class="col-xl-3 schrift-footer text-center">
        <br><h2 class="schrift-footer">Adresse:</h2><br>
        <p class="schrift-footer">Lemböckgasse 47</p>
        <p class="schrift-footer">1230 Wien</p>
        <p class="schrift-footer">Österreich</p><br>
      </div>
      <div class="col-xl-3 schrift-footer text-center">
        <br><h2 class="schrift-footer">Kontakt:</h2><br>
        <p class="schrift-footer">Tel: +43 01 66273300</p>
        <p class="schrift-footer">eMail: office@immosolution.at</p><br>
      </div>
      <div class="col-xl-3 schrift-footer text-center">
        <br><h2 class="schrift-footer">Anmelden:</h2>
        <!-- <button type="button" class="btn btn-dark" id="größe" [routerLink]="'/login'">Anmelden</button><br><br> -->
        <br><button type="button" class="btn btn-dark" [routerLink]="'/login'">Anmelden</button><br>
      </div>
      <div class="col-xl-3 schrift-footer text-center">
        <br><h2 class="schrift-footer">Social Media:</h2>
        <br><a href="https://www.instagram.com/immosolution.at/"><i class="lab la-instagram glyphicons-class"></i></a>&nbsp;
        <a href="https://www.facebook.com/Immosolution-Immobilien-Facility-Management-GmbH-100697512430535"><i class="lab la-facebook glyphicons-class"></i></a><br>
      </div>
    </div>
  </div>


</div>
