<script>

  // -------------------------- Navbar Burger Menue JS --------------------------

  (function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery

// -------------------------- Sticky Navbar JS --------------------------

</script>
<div class="background-wallpaper">
  <p id="home font-fam"></p>
  <head>
    <link rel="icon" href="assets/images/Logo.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="http://fonts.cdnfonts.com/css/helvetica-neue-9" rel="stylesheet">
                
  </head>
  <div>
    <!-- --------------------------------------- Header --------------------------------------- -->
    <body>
    
      <app-navbar-frontend></app-navbar-frontend>
      
  <!-- --------------------------------------- BG Video / BG Pic --------------------------------------- -->
    
  <div class="col-xl-12 bg-color-bg-pic">
    <img class="transperancy" src="./assets/images/bg-picture-4.5.jpg">
    <h3 class="centered" id="font-fam">Sehr geehrte Damen und Herren,<br> Unser Betrieb ist über die Weihnachtsfeiertage vom 24.12.2021 bis inkl. 09.01.2022 geschlossen.  Wir wünschen frohe Weihnachten und einen guten Rutsch ins neue Jahr!  Vielen Dank für Ihre Treue und bleiben Sie gesund!</h3><br>
    </div>

  <!-- --------------------------------------- BG Video / BG Pic End --------------------------------------- -->
  
  <!-- --------------------------------------- Main --------------------------------------- -->

    <div class="stats">
        <div class="row">
          <div class="col-xl-4 text-center" id="style">
            <br><h2 class="style" id="font-fam">Öffnungszeiten</h2><br>
            <span class="glyphicon glyphicon-time"></span><br><br>
            <p class="farbe-icon-text" id="font-fam">Mo-Do 8:00-16:00 Uhr</p>
            <p class="farbe-icon-text" id="font-fam">Fr 8:00-12:00 Uhr</p><br>
          </div>
          <div class="col-xl-4 text-center" id="style">
            <br><h2 class="style" id="font-fam">Standort</h2><br>
            <span class="glyphicon glyphicon-map-marker"></span><br><br>
            <p class="farbe-icon-text" id="font-fam">Lemböckgasse 47, 1230 Wien Österreich</p><br>
          </div>
          <div class="col-xl-4 text-center" id="style">
            <br><h2 class="style" id="font-fam">Kontakt</h2><br>
            <span class="glyphicon glyphicon-user"></span><br><br>
            <p class="farbe-icon-text" id="font-fam">Tel: +43 01 66273300</p><br>
          </div>
        </div>
    </div>

    <div class="black-placeholder"  id="about">
      <img src="./assets/images/parallax-1.jpg" class="transperancy">
      <!-- <p style="visibility: hidden; font-size: 1.5rem;">p</p><br> -->
      <div class="centered"><p class="color-h1 text-center">Über uns</p></div>
    </div>
    <br>

    <div id="content"></div>

    <div class="main">
    <div class="gray-bg">
      <div class="feld1 row">
        <div class="col-xl-9">	
          <!-- <h1 style="color: #000"></h1> -->
          <br><br><p class="about" id="p1">{{ infos.angebot }}</p>
          <br>
          <h3 style="color: #000">Gründung</h3>
          <p class="about" id="p1">{{ infos.gruedung }}</p><br><br>
        </div>
        <div class="col-xl-3 text-align-right">
          <!-- <img width="250px" height="auto" src="./assets/images/pic-4.jpg"> -->
        </div>
      </div>
    </div>
  </div> 
  <br>


    <div class="black-placeholder" id="team">
      <img src="./assets/images/parallax-2.jpg" class="transperancy">
      <!-- <p style="visibility: hidden; font-size: 1.5rem;">p</p><br> -->
      <div class="centered"><p class="color-h1 text-center">Team</p></div>
    </div>
    <br>
      
      <div class="main">
        <div class="grey-bg">
          <div class="feld3 row" >
            <div class="col-xl-9">
              <!-- <h1 style="color: #000"></h1> -->
              <br><br><p class="project" id="p1">{{ infos.mitarbeiter }}</p><br><br>
            </div>
            <div class="col-xl-3">
              <!-- <img width="250px" height="auto" src="./assets/images/pic-34.jpg"> -->
            </div>
          </div>
        </div>
      </div>
        <br>

      <!-- <div class="col-xl-12">
        <p class="text-center"><img src="./assets/images/group-pic.jpg"></p><br><br>
      </div> -->


      <div class="black-placeholder" id="project">
        <img src="./assets/images/parallax-3.jpg" class="transperancy">
        <!-- <p style="visibility: hidden; font-size: 1.5rem;">p</p><br> -->
        <div class="centered"><p class="color-h1 text-center">Projekte</p></div>
      </div>
      <br>

    <div class="main">
      <div class="grey-bg">
        <div class="feld3 row" >
          <div class="col-xl-9">
            <!-- <h1 style="color: #000"></h1> -->
            <br><br><p class="project" id="p1">{{ infos.referenzprojekte }}</p><br><br><br><br>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <h2 class="center-align" style="color:black; ">Laufende Projekte</h2>
              <p class="text-center"><a [routerLink]="'/laufendeprojekte'"><button type="button" class="btn btn-dark">Laufende Projekte</button></a></p>
            </div>
            <div class="col-xl-6">
              <h2 class="text-center" style="color:black;">Fertige Projekte</h2>
              <p class="text-center"><a [routerLink]="'/fertigeprojekte'"><button type="button" class="btn btn-dark">Fertige Projekte</button></a></p><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>


      <div class="black-placeholder" id="partner">
        <img src="./assets/images/parallax-4.jpg" class="transperancy">
        <!-- <p style="visibility: hidden; font-size: 1.5rem;">p</p><br> -->
        <div class="centered"><p class="color-h1 text-center">Partner</p></div>
      </div>
      <br>

    <div class="main">
      <div class="feld3 row" >
        <div class="col-xl-3">
          <!-- <img width="250px" height="auto" src="./assets/images/pic-35.jpg"> -->
        </div>
        <div class="col-xl-12">
          <!-- <h1 style="color: #000"></h1> -->
          <br><br><p class="partner" id="p1">{{ infos.privatkunden }}</p><br><br>
        </div>
      </div>
    </div>
    <br>

    <div class="black-placeholder">
      <img src="./assets/images/parallax-5.jpg" class="transperancy">
      <!-- <p style="visibility: hidden; font-size: 1.5rem;">p</p><br> -->
      <div class="centered"><p class="color-h1 text-center">Kontaktformular</p></div>
    </div>
    <br>

    <!-- --------------------------------------- Contact Form --------------------------------------- -->

  <div class="main" id="kontakt">
    <div class="container">
      <div class="row header">
        <img height="auto" width="auto" src="./assets/images/contact-form-pic-2.png">
        <h1 class="text-center" style="color: black; z-index: 999;">Kontaktiere uns! &nbsp;</h1>
      </div>
      <div class="row body">
        <form action="MailThis.to/lktuna@hotmail.com" method="POST">
          <ul>
            
            <li>
              <p class="left">
                <label for="first_name">Vorname</label>
                <input type="text" name="first_name" placeholder="Max" />
              </p>
              <p class="pull-right">
                <label for="last_name">Nachname</label>
                <input type="text" name="last_name" placeholder="Mustermann" />      
              </p>
            </li>
            
            <li>
              <p>
                <label for="email">eMail<span class="req">*</span></label>
                <input type="email" name="email" placeholder="max.mustermann@gmail.com" />
              </p>
            </li>        
            <li><div class="divider"></div></li>
            <li>
              <label for="comments">Nachricht</label>
              <textarea cols="46" rows="3" name="comments"></textarea>
            </li>
            
            <li>
              <input style="color: white;" class="btn btn-submit" type="submit" value="Abschicken" />
              <small>oder <strong>Eingabe</strong><small>drücken</small></small>
            </li>
            
          </ul>
        </form>  
      </div>
    </div>
  </div>
  <br><br><br>
  <!-- --------------------------------------- Contact Form End --------------------------------------- -->
  <!-- --------------------------------------- Main End --------------------------------------- -->
  <!-- --------------------------------------- Footer --------------------------------------- -->

  <a href="#home"><button type="button" class="btn btn-secondary" id="rauf-button">&uarr;</button></a>
    
    <div class="footerBGC">
      <div class="main">
        <div class="row">
          <div class="col-sm-4  line-bottom schrift-footer">
            <h2 class="schrift-footer">Adresse:</h2>
            <p class="schrift-footer">Lemböckgasse 47</p>
            <p class="schrift-footer">Österreich, 1230 Wien</p>
          </div>
          <div class="col-sm-4 line-bottom schrift-footer">
            <h2 class="schrift-footer">Kontakt:</h2>
            <p class="schrift-footer">Tel: 01 66273300</p>
            <p class="schrift-footer">eMail:</p>
          </div>
          <div class="col-sm-4 line-bottom schrift-footer">
            <h2 class="schrift-footer">Anmelden:</h2>
            <button type="button" class="btn btn-light" id="größe" [routerLink]="'/login'">Anmelden</button><br><br>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>