<div class="modal fade" id="ankuendigung" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ankündigungen verwalten</h5>
          <button type="button" id="closeButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Umschalteknopf -->
            <div class="form-check form-switch">
              <input #button class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (click)="toggle($event)"/>
              <label class="form-check-label" for="flexSwitchCheckDefault">Ankündigung einschalten</label>
            </div>
            <!-- Text toggle -->
            <div class="d-grid gap-2 mt-4" *ngIf="!showText">
              <button type="button" class="btn button" (click)="showTextUpdate()">
                  Text/Bild verändern
              </button>
            </div>
            <div class="d-grid gap-2 mt-4" *ngIf="showText">
              <button type="button" class="btn button" (click)="showTextUpdate()">
                  Text- und Bildfeld schließen
              </button>
            </div>
            <div class="text mt-3 p-2" contenteditable *ngIf="showText">
              <p #text>
                {{ankuendigungen.ankuendigung}}
              </p>
            </div>
            <div class="mt-2" *ngIf="showText">
              <input id="file" type="file" (change)="selectedFile($event)">
              <i class="las la-info-circle" *ngIf="filename" (click)="showImage()" style="font-size: 1.2rem;"></i>
            </div>
            <div class="mt-2"*ngIf="showSelectedImage">
              <img class="transperancy" src="./assets/images/{{filename}}" width="100%">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn button-primary" *ngIf="showText" (click)="changeContent()">Save changes</button>
        </div>
      </div>
    </div>
</div>