<body>
    <!-- Navbar -->
    <app-navbar-frontend></app-navbar-frontend>
    <!-- Navbar Ende -->
</body>


<!-- <div class="main">
    <div class="container">
        <div class="col-xl-12"> <br><br> <h2 class="text-center">Laufende Projekte</h2><br><br>
            <div *ngFor="let project of projects" class="mb-5" style="background: #eaeaea">
                {{project.projektname}} <br><br>
                <div class="d-flex justify-content-between">
                        <div *ngFor="let projektbild of project.projektbilder">
                            <img src="./assets/images/website/{{project.projektname}}/{{projektbild.projektbilder}}" class="img-fluid" style="height: 300px; border: solid 2px black;"> 
                        </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="main"><br><br><br>
    <div class="wrapper">
        <div class="item">

        </div>
    </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->



<br><br><br><br>
    <!-- <div class="main">
        <h2 class="text-center">Laufende Projekte</h2><br><br>
        <div *ngFor="let project of projects" class="mb-5" style="background: #eaeaea">
            {{project.projektname}} <br><br>  
            <div class="wrapper">
                <div class="item">
                    <div class="d-flex justify-content-between">
                        <div *ngFor="let projektbild of project.projektbilder">
                            <img src="./assets/images/website/{{project.projektname}}/{{projektbild.projektbilder}}" class="img-fluid img-css">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="main">
        <h2 class="text-center">Laufende Projekte</h2><br><br>
        <div *ngFor="let project of projects" class="mb-5" style="background: #eaeaea">
            <h4>{{project.projektname}}</h4> <br><br>  
            <div class="outer-wrapper">
                <div class="wrapper">
                    <div class="item">
                        <div class="d-flex justify-content-between">
                            <div *ngFor="let projektbild of project.projektbilder">
                                <img src="./assets/images/website/{{project.foldername}}/{{projektbild.projektbilder}}" class="img-fluid img-css">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="footer">
    <app-footer-index></app-footer-index>
</div>