.button{
    border: solid 1px #5850EC;
    border-radius: 10px;
    color: #5850EC;
}

.button:hover{
    background: #5850EC;
    color: white;
}

.button-primary{
    background: #5850EC;
    color: white;
}