<input type="checkbox" name="" id="sidebar-toggle">

<div class="sidebar">
    <div class="sidebar-brand">
        <div class="brand-flex">
            <img src="" width="30px" alt="">

            <div class="brand-icon">
                <span class="las la-user-circle" style="font-size: 2rem;"></span>
            </div>
        </div>
    </div>

    <div class="sidebar-main">
        <div class="sidebar-user">
            <img src="./assets/images/pfp.jpg" alt="">
            <div>
                <h3 class="text">Adam</h3>
                <span class="text">email@email.com</span>
            </div>
        </div>

        <div class="sidebar-menu">
            <div class="menu-head">
                <span class="text">Bearbeiten</span>
            </div>
            <ul>
                <li>
                    <a [routerLink]="'/admin'">
                        <span class="las la-terminal"></span>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
            </ul>

            <div class="menu-head">
                <span class="text">Social-Media</span>
            </div>
            <ul>
                <li>
                    <a [routerLink]="'/facebook'">
                        <span class="lab la-facebook-square"></span>
                        <span class="text">Facebook</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="'/instagram'">
                        <span class=" lab la-instagram"></span>
                        <span class="text">Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="main-content">
    <header>
        <div class="menu-toggle">
            <label for="sidebar-toggle" (click)="toggleSidebar()">
                <span class="las la-bars"></span>
            </label>
        </div>
    </header>
</div>

<label for="sidebar-toggle" class="body-label"></label>