<app-navbar (toggleMainEvent)="toggleMain($event)"></app-navbar>
<div [ngClass]="{
    'main-content-toggled': mainStyle === 0,
    'main-content': mainStyle === 280
}">

    <main class="text">
        <div class="page-header">
            <div>
                <h1>Immosolution Dashboard</h1>
                <small>Webseite/Social-Media verwalten</small>
            </div>

            <div class="header-actions">
                <button (click)="submitLogin()" class="mb-4">
                    <span class="las la-file-export"></span>
                    Facebook anmelden
                </button>
                <button>
                    <span class="las la-tools"></span>
                    Instagram anmelden
                </button>
            </div>
        </div>

        <app-social-media-cards></app-social-media-cards>

        <div class="jobs-grid">

            <app-berechtigungen-verwalten></app-berechtigungen-verwalten>

            <div class="jobs">
                <h2>Jobs <small>See all jobs <span class="las la-arrow-right"></span></small></h2>
                <div class="table-responsive">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Customer experience designer
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Design
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Copenhagen Dk.
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Posted 6 days ago
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>8 applications</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator even"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Software developer
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Developer
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Copenhagen Dk.
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Posted 6 days ago
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>3 applications</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Customer experience designer
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Design
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Copenhagen Dk.
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Posted 6 days ago
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>8 applications</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator even"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Software developer
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Developer
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Copenhagen Dk.
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Posted 6 days ago
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>3 applications</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Customer experience designer
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Design
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Copenhagen Dk.
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Posted 6 days ago
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>8 applications</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<label for="sidebar-toggle" class="body-label"></label>