<app-navbar (toggleMainEvent)="toggleMain($event)"></app-navbar>
<div [ngClass]="{
    'main-content-toggled': mainStyle === 0,
    'main-content': mainStyle === 280
}">

    <main class="text">
        <div class="page-header">
            <div>
                <h1>Immosolution Dashboard</h1>
                <small>Webseite/Social-Media verwalten</small>
            </div>

            <div class="header-actions">
                <button (click)="submitLogin()" class="mb-4">
                    <span class="las la-file-export"></span>
                    Facebook anmelden
                </button>
            </div>
        </div>


        <app-social-media-cards></app-social-media-cards>


        <div class="jobs-grid">

            <app-berechtigungen-verwalten [FacebookExpirationDate]="FacebookExpirationDate"></app-berechtigungen-verwalten>

            <app-webseite-verwalten></app-webseite-verwalten>
            
        </div>
    </main>
</div>

<label for="sidebar-toggle" class="body-label"></label>