<app-navbar (toggleMainEvent)="toggleMain($event)"></app-navbar>
<div [ngClass]="{
    'main-content-toggled': mainStyle === 0,
    'main-content': mainStyle === 280
}">

    <main class="text">
        <div class="page-header">
            <div>
                <h1>Immosolution Dashboard</h1>
                <small>Webseite/Social-Media verwalten</small>
            </div>

            <div class="header-actions">
                <button (click)="submitLogin()" class="mb-4">
                    <span class="las la-file-export"></span>
                    Facebook anmelden
                </button>
                <button>
                    <span class="las la-tools"></span>
                    Instagram anmelden
                </button>
            </div>
        </div>

        <app-social-media-cards></app-social-media-cards>

        <div class="jobs-grid">

            <app-berechtigungen-verwalten [FacebookExpirationDate]="FacebookExpirationDate"></app-berechtigungen-verwalten>

            <div class="jobs">
                <h2> Webseite Inhalte ändern
                    <!-- <small>See all jobs <span class="las la-arrow-right"></span></small> -->
                </h2>
                <div class="table-responsive">
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Über uns
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        momentaner "Über uns" Text zeigen
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>Text ändern</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator even"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Team
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        momentaner "Team" text zeigen
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>Text ändern</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Projekte
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        momentaner "Projekte" Text zeigen
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>Text ändern</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Partner
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        momentaner "Partner" Text zeigen
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>Text ändern</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator even"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Laufende Projekte
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        momentane laufende Projekte zeigen
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>Laufen Projekte ändern</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Fertige Projekte ändern
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        momentane fertige Projekte zeigen
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>Fertige Projekte ändern</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<label for="sidebar-toggle" class="body-label"></label>