<div class="modal fade" id="projekte" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Projekte verwalten</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <!-- buttons -->
            <div *ngIf="!showText && (!showFertigeProjekte && !showLaufendeProjekte) && !showAddProject">
                <div class="d-grid gap-2">
                    <button type="button" class="btn button" (click)="showTextUpdate()">
                        Text/Image ändern
                    </button>
                </div>
                    
                <div class="row mt-4">
                    <div class="col-md-6" (click)="showProjekte('fertig')">
                        <div class="col-md-12">
                            fertige Projekte 
                        </div>
                    </div>
                    <div class="col-md-6" (click)="showProjekte('laufend')">
                        <div class="col-md-12">
                            laufende Projekte
                        </div>
                    </div>
                </div>     
            </div>


            <!-- Text/image -->
            <div *ngIf="showText">
                <div class="d-grid gap-2">
                    <button type="button" class="btn button" (click)="showTextUpdate()">
                        Hide Text/Image
                    </button>
                </div>

                <div class="text mt-3 p-2" contenteditable>
                    <p #text>
                        {{projekteText}}
                    </p>
                </div>
                <div class="mt-2">
                    <input id="file" type="file" (change)="selectedFile($event)">
                    <i class="las la-info-circle" *ngIf="filename" (click)="showImage()" style="font-size: 1.2rem;"></i>
                </div>
                <div class="mt-2"*ngIf="showSelectedImage">
                    <img class="transperancy" src="./assets/images/{{filename}}" width="100%">
                </div>
            </div>


            <!-- fertige Projekte -->

            <div *ngIf="showFertigeProjekte && !showText">
                <app-projekte [showFertigeProjekte]=showFertigeProjekte (goBackOutput)="goBackOutput($event)"></app-projekte>
            </div>


            <!-- laufende Projekte -->
            <div *ngIf="showLaufendeProjekte && !showText">
                <app-projekte [showLaufendeProjekte]=showLaufendeProjekte (goBackOutput)="goBackOutput($event)"></app-projekte>
            </div>

            <!-- Projekt hinzufügen knöpf -->
            <div *ngIf="!showText && (!showFertigeProjekte && !showLaufendeProjekte) && !showAddProject" class="mt-4">
                <div class="d-grid gap-2">
                    <button type="button" class="btn button" (click)="showAddProjectSection()">
                        Projekt hinzufügen
                    </button>
                </div>
            </div>

            <!-- Projekt hinzufügen -->
            <div *ngIf="showAddProject">
                <p class="zurueck" (click)='showAddProjectSection()'><i class="las la-arrow-left" style="font-size: 15px"></i> zurück</p>

                <app-add-project></app-add-project>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn button-primary" (click)="changeText()" *ngIf="showText">Save changes</button>
        </div>
      </div>
    </div>
</div>