.text{
    border: 1px solid black;
    border-radius: 10px;
}

.button{
    border: solid 1px #5850EC;
    border-radius: 10px;
    color: #5850EC;
}

.button:hover{
    background: #5850EC;
    color: white;
}

.button-primary{
    background: #5850EC;
    color: white;
}

.col-md-12{
    border: #5850EC solid 1px;
    border-radius: 10px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    color: #5850EC;
    cursor: pointer;
}

.col-md-12:hover{
    color: white;
    background: #5850EC;
}