<div class="main" id="home">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light nav-height justify-content-center" style="color: #fff;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: 25px;">Immosolution</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav css-navbar">

          <li>
            <a href="#about" class="navlink" id="schrift" style="font-size: 20px;">Über uns</a>&nbsp;&nbsp;&nbsp;
          </li>
          <li>
            <a href="#team" class="navlink" id="schrift" style="font-size: 20px;">Team</a>&nbsp;&nbsp;&nbsp;
          </li>
          <li>
            <a href="#project" class="navlink" id="schrift" style="font-size: 20px;">Projekte</a>&nbsp;&nbsp;&nbsp;
            </li>
          <li>
            <a [routerLink]="'/contact-form'" class="navlink" id="schrift" style="font-size: 20px;">Kontaktformular</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
