.navbar {
  margin-bottom: 0px;
  height: auto;
  text-decoration: none;
}


a:link {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration:underline;
}

a:active {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

.nav-img {
  height: 185%;
  // height: 40px; 
  margin-top: -9px;
  padding-left: 13px;
}