      <!-- <section class="navigation">
        <div class="nav-container" id="navbar">
          <div class="brand">
          <a href="#" id="home"><img src="./assets/images/Logo-Signet.jpg" style="width: 13%;"></a>
          </div>
          <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            <li>
              <a href="#home" class="schrift">Home</a>
            </li>
            <li>
              <a href="#about" class="schrift">Über uns</a>
            </li>
            <li>
              <a href="#team" class="schrift">Team</a>
            </li>
            <li>
              <a href="#project" class="schrift">Projekte</a>
              </li>
            <li>
            <a href="#partner" class="schrift">Partner</a>
            </li>
            <li>
              <a [routerLink]="'/contact-form'" class="schrift">Kontaktformular</a>
            </li>
          </ul>
          </nav>
        </div>
      </section> -->


        <div class="main">
          <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light nav-height" style="color: #fff;">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" id="home">Immosolution</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li>
                    <a href="#home" class="navlink" id="schrift">Home</a>&nbsp;&nbsp;&nbsp; <!-- schrift -->
                  </li>
                  <li>
                    <a href="#about" class="navlink" id="schrift">Über uns</a>&nbsp;&nbsp;&nbsp;
                  </li>
                  <li>
                    <a href="#team" class="navlink" id="schrift">Team</a>&nbsp;&nbsp;&nbsp;
                  </li>
                  <li>
                    <a href="#project" class="navlink" id="schrift">Projekte</a>&nbsp;&nbsp;&nbsp;
                    </li>
                  <li>
                  <a href="#partner" class="navlink" id="schrift">Partner</a>&nbsp;&nbsp;&nbsp;
                  </li>
                  <li>
                    <a [routerLink]="'/contact-form'" class="navlink" id="schrift">Kontaktformular</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
