<!--     
    <div class="div-telnr-email">
        <div class="telnr-email">
          <p class="text-end" style="color: black;">+43  01 66273300 | office@immosolution.at</p>
        </div>
    </div> -->
  
      <section class="navigation">
        <div class="nav-container" id="navbar">
          <div class="brand">
          <a href="#" id="home"><img src="./assets/images/Logo-Signet.jpg" style="width: 13%;"></a>
          </div>
          <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            <li>
              <a href="#home" class="schrift">Home</a>
            </li>
            <li>
              <a href="#about" class="schrift">Über uns</a>
            </li>
            <li>
              <a href="#team" class="schrift">Team</a>
            </li>
            <li>
              <a href="#project" class="schrift">Projekte</a>
              </li>
            <li>
            <a href="#partner" class="schrift">Partner</a>
            </li>
            <li>
              <a [routerLink]="'/contact-form'" class="schrift">Kontaktformular</a>
            </li>
          </ul>
          </nav>
        </div>
      </section>