* {
    margin: 0px;
    padding: 0px;
}

.main-breite {
    margin: auto;
    width: 1337px;
}

.main {
    margin: auto;
    width: 1337px;
}

.border {
    border: solid 2px black;
}

// .d-flex{
//     width: 1320px;
//     overflow-x: scroll;
// }

// .wrapper {
//     height: 100%;
//     border: 1px solid #ddd;
//     display: flex;
//     overflow-x: auto;
//     white-space: nowrap;
// }

// .wrapper::-webkit-scrollbar {
//     height: 7px;
//     background-color: #000;
// }

// .wrapper .item {
//     min-width: 110px;
//     min-height: auto;
//     line-height: 110px;
//     text-align: center;
//     background-color: #ddd;
//     margin-right: 2px;
// }

.img-css {
    height: 300px;
    width: auto;
    border: solid 1px black;
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-width: 2000px;
    overflow:hidden;
    position: relative;
}

.outer-wrapper {
    overflow-x: scroll;

}

